.about {
    position: relative;
    overflow: hidden;
    background-color: $color-wrapper-black;

    // .about__wrapper-icon

    &__wrapper-icon {
        z-index: 0;
        position: absolute;
        width: 552px;
        height: 552px;
        right: -150px;
        top: -47px;

        @include for-tablet {
            right: -275px;
            top: -47px;
        }

        @include for-mobile {
            width: 345px;
            height: 345px;
            right: -220px;
            top: 75px;
        }
    }

    // .about__content

    &__content {
        position: relative;
        z-index: 1;
        min-height: 470px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    // .about__title

    &__title {
        @include font-dynapuff(48px, 700, $color-yellow);
    }

    // .about__discription

    &__discription {
        @include font-manrope(16px, 500, $color-font-white);
        max-width: 524px;
    }

    // .about__numbers-columns

    &__numbers-columns {
        display: flex;
        align-items: center;
        gap: 96px;

        @include for-tablet {
            gap: max(12.5vw, 16px);
        }

        @include for-mobile {
            gap: 16px;
        }
    }

    // .about__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
            @include font-dynapuff(48px, 700, $color-font-white);
        }

        p{
            @include font-manrope(16px, 700, $color-font-white);
        }
    }
}
.container {
}
