.footer {

    background-color: $color-wrapper-black;
    padding-top: 78px;
    padding-bottom: 78px;
    min-height: 530px;

    // .footer__content

    &__content {
        display: flex;
        gap: 163px;
        flex-direction: column;
    }

    // .footer__btn

    &__btn {
        display: flex;
        gap: 45px;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;


        min-width: 914px;
        min-height: 192px;

        border-radius: 139px;
        border: 1px solid #F2F2F2;

        @include for-tablet {
            min-width: 714px;
            min-height: 150px;
        }

        @include for-mobile {
            gap: 5.333vw;
            min-width: 91.2vw;
            min-height: 19.2vw;
        }

        svg{
            width: 108px;
            height: 108px;

            @include for-mobile {
                width: 13.867vw;
                height: 13.6vw;
            }
        }


    }

    // .footer__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 17px;

        @include for-mobile {
            gap: 1.067vw;
        }

    }

    // .footer__title

    &__title {
        @include font-dynapuff(48px, 700, $color-font-white);

        @include for-mobile {
         font-size: 5.333vw;
        }
    }

    // .footer__description

    &__description {
        display: flex;
        gap: 24px;
        align-items: center;

        svg{
            width: 55px;
            height: 26px;


            @include for-mobile {
                width: 8.743vw;
                height: 4.133vw;
            }
        }

        p{
            @include font-manrope(24px, 500, $color-font-white);

            @include for-mobile {
                font-size: 4vw;
            }
        }


    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        span{
            @include font-manrope(16px, 500, $color-font-white);

            @include for-tablet {
                font-size: max(2.083vw, 14px);
            }

            @include for-mobile {
                font-size: 3.733vw;
            }
        }
    }

    // .footer__social

    &__social {
       
    }
}


.social {
    display: flex;
    gap: 34px;

    // .social__item

    &__item {
    }
}
