.graphics-design {
  background-color: $color-wrapper-black;
  padding-top: 86px;
  padding-bottom: 138px;

  // .graphics-design__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  // .graphics-design__title

  &__title {
    @include font-dynapuff(80px, 700, $color-font-white);

    @include for-tablet {
      font-size: max(10.417vw, 36px);
    }

    @include for-mobile {
      font-size: 36px;
    }
  }

  // .graphics-design__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;

    @include for-mobile {
      grid-template-columns: 1fr;
    }
  }

  // .graphics-design__card

  &__card {
    position: relative;
    z-index: 1;

    &--orange-svg {
      &::after {
        content: "";
        background-image: url(../../images/graphics-design/svg--orange.svg);
        z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 268px;
        height: 268px;

        @include for-tablet {
          width: max(29.557vw, 172px);
          height: max(29.557vw, 172px);
        }

        @include for-mobile {
          width: 172px;
          height: 172px;
        }
      }
    }

    &--yellow-svg {
      &::after {
        content: "";
        background-image: url(../../images/graphics-design/svg--yellow.svg);
        z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 187px;
        height: 191.493px;

        @include for-tablet {
          width: max(19.141vw, 134px);
          height: max(19.661vw, 137px);
        }

        @include for-mobile {
          width: 134px;
          height: 137px;
        }
      }
    }

    &--blue-svg {
      &::after {
        content: "";
        background-image: url(../../images/graphics-design/svg--blue.svg);
        z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 233px;
        height: 225px;

        @include for-tablet {
          width: max(23.828vw, 148px);
          height: max(23.047vw, 143px);
        }

        @include for-mobile {
          width: 148px;
          height: 143px;
        }
      }
    }

    &--main {
      grid-column: 1 / 3;

      @include for-mobile {
        grid-column: 1 / 2;
      }
    }
  }

  // .graphics-design__svg

  &__svg {
    display: none;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--orange {
    }

    &--yellow {
    }

    &--blue {
    }
  }

  // .graphics-design__img

  &__img {
    filter: grayscale(100%);

    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

    height: 414px;
    border-radius: 13px;

    &--main {
      @include for-tablet {
        height: 414px;
      }

      @include for-mobile {
        height: 325px;
      }
    }

    @include for-tablet {
      height: 325px;
    }
  }
}
