.header {
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: transparent;

  // .header__content

  &__content {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
  }
  //.header__mobile-btn

  &__mobile-btn {
    display: none;
    background-color: transparent;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid $color-font-white;

    path {
      fill: $color-font-white;
    }
    @media (max-width: $screen-tablet) {
        display: block;
      }
  }

  // .header__nav

  &__nav {
    @media (max-width: $screen-tablet) {
      display: none;
    }
  }

  // .header__list

  &__list {
    display: flex;
    gap: 20px;
  }

  // .header__item

  &__item {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid $color-font-white;
  }

  // .header__link

  &__link {
    display: flex;
    gap: 12px;
    align-items: center;

    span {
      @include font-manrope(16px, 700, $color-font-white);
    }
  }

  // .header__icon

  &__icon {
  }
}
