.hero {
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);

  &__content {
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 119px;
  }
  &__title {
    @include font-dynapuff(80px, 700, $color-wrapper-white);

    @include for-tablet {
      font-size: max(8.333vw, 48px);
    }

    @include for-mobile {
      font-size: 48px;
    }
  }
}

.container {
}
.hero__content {
}
.hero__title {
}
