.projects {
  background-color: $color-wrapper-gray;
  padding-top: 86px;
  padding-bottom: 86px;

  // .projects__content

  &__content {
    display: grid;
    column-gap: 40px;
    row-gap: 63px;
    grid-template-columns: repeat(3, 1fr);

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-mobile{
      grid-template-columns: 1fr;
    }
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 24px;
  background: #fffef2;

  &--side3 {
    @include for-tablet {
      display: none;    
    }
    }

    &--side1, &--side3{
      @include for-mobile {
        display: none;    
      }
    }
  

  &--main {
    grid-column: 1 / 4;

    @include for-tablet {
      grid-column: 1 / 3;
    }

    @include for-mobile {
      grid-column: 1 / 2;
    }
  }

  // .project-card__image

  &__image {
    position: relative;
    // padding-top: 120%;

    &--main {
      // padding-top: 50%;
    }
  }

  &__img {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

    height: 338px;
    border-radius: 13px;

    @include for-tablet {
      height: 448px;
    }

    @include for-mobile {
      height: 363px;
    }

    &--main {
      height: 498px;

      @include for-mobile {
        height: 363px;
      }
    }
  }
  // .project-card__banner

  &__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: $color-font-white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
  }

  // .project-card__title

  &__title {
    @include font-dynapuff(32px, 700, $color-font-gray);

    @include for-mobile {
      font-size: 24px;
    }

    &--main {
      font-size: 40px;

      @include for-mobile {
        font-size: 32px;
      }
    }
  }

  //.project-card__description

  &__description {
    @include font-manrope(16px, 500, $color-font-black);

    &--main {
      font-weight: 700;
    }
  }
}
