.quote {
    position: relative;
    z-index: 1;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-image: url('../../images/quote/wrapper.jpg');
      background-size: cover;
      background-position: center;
      filter: brightness(0.5);
    }
  
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 800px;
      position: relative;
      z-index: 2;
  
      @include for-tablet {
        min-height: max(104.167vw, 498px);
      }
    }
  
    &__title {
      @include font-dynapuff(48px, 700, $color-font-white);
      text-align: center;
      position: relative;
      z-index: 2;
  
      @include for-tablet {
        font-size: max(6.25vw, 36px);
      }
  
      @include for-mobile {
        font-size: 36px;
      }
    }
  }
  