*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1060px; 
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 1200px) {
        padding: 0 15px; 
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 0 33px;
        }

    @media (max-width: 767px) {
        padding: 0 15px; 
    }
}
