$color-font-white: #FFFFFF;
$color-wrapper-white: #FFFEF2;
$color-yellow: #FAEB49;
$color-font-black: #000000;
$color-wrapper-black: #202020;
$color-font-gray: #565656;
$color-wrapper-gray: #3C3C3C;

$screen-desktop: 1440px;
$screen-tablet: 768px;
$screen-mobile: 375px;

@mixin font-manrope ($size, $weight, $color) {
    font-family: Manrope;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin font-dynapuff ($size, $weight, $color) {
    font-family: DynaPuff;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}



@mixin for-desktop {
  @media (min-width: 1200px) { @content; } 
}

@mixin for-tablet {
  @media (min-width: 768px) and (max-width: 1199px) { @content; } 
}

@mixin for-mobile {
  @media (max-width: 767px) { @content; } 
}

